:not(blockquote) > p {
	margin-bottom: 1.5em;
}

b, strong {
	font-weight: bold;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	font-family: $font__pre;
	font-size: 1.2;
}

code, kbd, tt, var {
	font-size: 1.2em;
	font-family: $font__code;
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

pre, blockquote {
	background: $color__background-pre;
	color: $color__text-pre;

	margin-left: -5%;
	margin-right: -5%;

	font-weight: lighter;

	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	overflow: auto;
	padding: 1.6em;
}

cite {
	width: 100%;
	display: block;
	text-align: right;

	blockquote & {
		font-weight: 100;
		font-size: 0.7em;
		padding-top: .6em;
	}

	:not(blockquote) & {
		font-weight: bold;
		font-size: 0.9em;
		margin-top: -2em;
	}
}
blockquote {
	quotes: "\201C" "\201D" "\2018" "\2019";
	position: relative;

	p { 
		padding-left: 2em;
	}

	&:before {
		content: open-quote;
		font-size: 3em;
		position: absolute;
		font-family: "Times New Roman";
		top: 0.1em;
		font-weight: bold;

		color: grey;
	}

	&:after {
	    content: no-close-quote;
	}
}


q {
	quotes: "\201C" "\201D" "\2018" "\2019";

	&:before {
		content: open-quote;
	}

	&:after {
	    content: close-quote;
	}

	&:before, &:after {
		font-size: 1.5em;
		font-family: "Times New Roman";
		font-weight: bold;
	}
}