$footer-height: 3em;

.main-navigation {
	background-color: black;

	clear: both;
	display: block;
	position: relative;

	padding-bottom: $footer-height;

	.site-branding {
		padding: 15px;
		padding-top: 20px;
		padding-bottom: 20px;

		.site-description {
			font-size: 1.3em;
			color: white;
		}
	}



	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {

			// display only level 1 elements
			// TODO: do I want to introduce multi-level pages? 

			display: none;
/* 
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}

				width: auto;
			}

			a {
				width: auto;
			}

			:hover > a {
			}

			a:hover {
			}
			 */
		}

		li:hover > ul {
			left: auto;
		}
	}
	li {
		position: relative;

 		min-height: 40px; 
 		width: 100%; 
 		text-align: center; 
		display: table; 

		&:hover > a {
		}
	}
	a {
		display: table-cell; 
		text-decoration: none;	

		vertical-align: middle; 
		height: 100%; 
		padding: 4px; 
		color: white; 
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}

	.site-info {
		.copyright {
			position: absolute;
			bottom: 0;
			right: 0;

			height: $footer-height;
			font-size: 7pt;
			color: gray;
			padding: 2%;
			padding-right: 4%;
			padding-left: 4%;
			width: 100%;
		}
	}
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media screen and (max-width: $size__mobile-max-width) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
