$footer-height: 3em;

.main-navigation {

	// XXX fixes the sidebar not covering the entire page.
	// XXX read more about vh and vw
	min-height: 100vh;

	background-color: $color__background-sidebar;

	clear: both;
	display: block;
	position: relative;

	padding-bottom: $footer-height;

	.site-branding {
		padding: 1em;
		padding-top: 3em;
		padding-bottom: 3em;
		text-align: center;

		background-color: black;

		.site-description {
			font-size: 1.3em;
			color: white;
			text-transform: uppercase;
		}
	}



	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			// display only level 1 elements
			// TODO: do I want to introduce multi-level pages? 
			display: none;

/* 
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul {
					left: 100%;
				}

				width: auto;
			}

			a {
				width: auto;
			}

			:hover > a {
			}

			a:hover {
			}
*/
		}

		li:hover > ul {
			left: auto;
		}
	}

	li {
		position: relative;

 		min-height: 40px; 
 		width: 100%; 
 		text-align: center; 
		display: table; 

		&:hover > a {
		}
	}
	
	a {
		display: table-cell; 
		text-decoration: none;	

		vertical-align: middle; 
		height: 100%; 
		padding: 4px; 
		color: white; 
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}

	.site-info {
		.copyright {
			position: absolute;
			bottom: 0;
			right: 0;

			height: $footer-height;
			font-size: 7pt;
			color: gray;
			padding: 2%;
			padding-right: 4%;
			padding-left: 4%;
			width: 100%;
		}
	}
}

/* Small menu */
.menu-toggle {
	display: none;
}

@media all and (max-width: $size__mobile-max-width) {
	.main-navigation  {
		min-height: 0vh;
		ul {
			li {
				width: auto;
				float: left;
				padding: 0.8em;
				padding-bottom: .3em;
	  			padding-top: .3em;

				border: none;
				border-bottom-style: solid;
				border-bottom-width: 10px;

				&:nth-of-type(5n+1)::before		{	border-color: #E65300; }
				&:nth-of-type(5n+2)::before 	{	border-color: #B50A1A; }
				&:nth-of-type(5n+3)::before 	{	border-color: #84004F; }
				&:nth-of-type(5n+4)::before 	{	border-color: #49006C; }
				&:nth-of-type(5n+5)::before 	{	border-color: #8A9B0F; }

			}
		}
	}

}

.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
