/* ------------------------------------------ */
/* TURKI: */
#page > * {
	// border: 4px solid maroon;
}

#primary, #masthead > *, footer .site-info {
	// border: 3px solid blue;
}

.entry-title {
	font-size: 17pt;
}

a {
	text-decoration: none;
}

.entry-meta { 
	font-size: 7pt;
	color: gray;
}

article header { 
	padding-left: 3%;
	padding-right: 3%;
}

article.post > header.entry-header > * {
	text-align: center;
}

p {
	font-size: 11pt;
}

.background-1 	{	background-color: #C61459;	}
.background-2 	{	background-color: #57B4BD;	}
.background-3 	{	background-color: #ff9c84;	}
.background-4 	{	background-color: #094761;	}
.background-5 	{	background-color: #67474D;	}
.background-6 	{	background-color: #79D015;	}
.background-7 	{	background-color: #393142;	}
.background-8 	{	background-color: #796D66;	}
.background-9 	{	background-color: #C7642F;	}
.background-10 	{	background-color: #A3B787;	}

